

.jumbotron.special {
    padding: 0 0 40px 40px;
    margin: auto auto;
}

.wallBtn {
    /* background: #333; */
    /* color: #111; */
    /* padding: 18px 18px; */
    border: 1px solid rgba(255, 255, 255, 0.125);
    background-image: url(line2.svg);
    position:inherit;
}

.wallBtn:focus {
    outline: none;
}

.wallBtn:target {
    outline: none;
}

.wallBtn:active {
    outline: none;
}

.wallBtn:hover {
    outline: none;
}

.hasNorth {
    border-top: 1px solid #C00;
}

.hasEast {
    border-right: 1px solid #C00;
}

.hasWest {
    border-left: 1px solid #C00;
}

.hasSouth {
    border-bottom: 1px solid #C00;
}

.btn_header {
    color: #111;
    border-bottom: 2px solid #C00;
}

.btn_footer {
    color: #111;
    border-top: 2px solid #C00;
}

.btn_right {
    color: #111;
    border-left: 2px solid #C00;
}

.btn_left {
    color: #111;
    border-right: 2px solid #C00;
}

#walloption {
    position: absolute;
    width: 720px;
    height: 100%;
    display: block;
    background: #444;
    color: #111;
    border: 1px solid rgba(255, 255, 255, 0.125);
    background-image: url(line2.svg);
}

#left_wall {
    position: inherit;
    width: 23.6px;
    height: 720px;
    background: #c00;
    z-index: 100;
}

#right_wall {
    position: inherit;
    width: 23.6px;
    height: 720px;
    right: 0px;
    background: #c00;
    z-index: 100;
}
